@charset "UTF-8";

/* TODAS AS MÍDIAS */

/* Typical Device Breakpoints
pequenas telas: até 600px
celular: de 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px */

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* nao imprimi o background de site */
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main {
        border: 2px solid black
    } 

    main::after {
        content: 'Essa impressão foi feita através do site www.blabla.com';
        font-size: 0.5em;
        text-decoration: underline;
        }


    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#telas { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px)/*tablet*/ {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    main {
        width: 700px;
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#telas { display: none;}
} 


@media screen and (min-width: 992px) and (max-width: 1200px)/*desktop*/ {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    main {
        width: 700px;
    }


    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#telas { display: none;}
} 


@media screen and (min-width: 1200px) /*grandes telas*/ {
    body {
        background-image: url(../imagens/back-tv.jpg)
    }

    main {
        width: 700px;
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#telas { display: block;}
}