@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #c1e1ee;
}

header {
    background-color: #8ABFE1;
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
}


#menuzinho {
    background-color: #347EBF;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

#menuzinho:hover {
    background-color: white;
    color: #347EBF;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(176, 213, 245);
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.247);
    border-top: 2px solid #66ADD9;
}

menu > ul > li > a:hover {
    background-color: #347EBF;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;
}